/*reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}



body{
	font-size:62.5%;
  background: url('../assets/interface/bg_gradient.png') repeat-x center center;
  height: 1000px;
}


#container{
  width: 1000px;
  height: 600px;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
}

/*#header{
  background: url('../assets/interface/tjilp.png') no-repeat center center;
  width: 295px;
  height: 113px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 85px;
}*/

#game {
  /*border: 6px #FFFFFF solid;*/
  -webkit-box-shadow: 0 0 40px 5px rgba(0,0,0,.28);
  -ms-box-shadow: 0 0 40px 5px rgba(0,0,0,.28);
  -moz-box-shadow: 0 0 40px 5px rgba(0,0,0,.28);
  -o-box-shadow: 0 0 40px 5px rgba(0,0,0,.28);
  box-shadow: 0 0 40px 5px rgba(0,0,0,.28);
  position: relative;
  z-index: 1000;
}

#footer{
  width: 100%;
  height: 1000px;
  position: absolute;
  z-index: 0;
  background: url('../assets/interface/bg_bottom.png') no-repeat center bottom;
  background-size: cover;
}

#madeby{
  background: url('../assets/interface/credits.png') no-repeat center bottom;
  background-size: cover;
  width: 456px;
  height: 167px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 790px;
}

#debug{
  position: absolute;
  top:0;
  display: none;
}

#fb-login{
  position: absolute;
  top:17px;
  right:0px;
}
