/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

body{
	font-size:62.5%;
}


#container{
  width: 1000px;
  height: 600px;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto;
}

#game{

}

#debug{
  position: absolute;
  top:0;
  display: none;
}

#fb-login{
  position: absolute;
  top:17px;
  right:0px;
}